/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(38, 70, 83, 1.0);
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}
.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #FF003D;
}
.play-board .head {
  background: #60CBFF;
}

.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}

.minigames{

  position: absolute;
  left: 180px;
  margin-left: -10%;
  transition: transform 0.3s ease; /* Geçiş efekti */
  align-items: center;
}

.minigames ul li{
  list-style-type: none;
  width: 125px;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  background: rgb(189, 73, 43, 1.0); /* Değişiklik: Buton arka plan rengi */
  transition: transform 0.3s ease; /* Geçiş efekti */
  border-radius: 10px;
  line-height: 30px;
  border: 2px solid rgba(38, 70, 83, 1.0);
  font-family: "Jersey 10", sans-serif;

}

.minigamescontent {
  width: 300px;
  margin-right: 30px;
}

.minigamescontent p{
  color: #F4A261; /* İçerik metin rengi */
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 40px;
}


.minigames ul li a{
  text-decoration: none;
  color: #FF851B; 
  
}

.minigames ul li:hover{
  transform: scale(1.1);
  background: rgba(42, 157, 143, 1.0);
  -webkit-transform: scale(1.2);
  border-width: 3px; /* Hover durumunda border kalınlığını artır */
  color: #FFFFFF;
}